.Pozition{
	position: absolute;
	left: 20px;
	bottom: 50px;
	padding: 5px;


	// width: 200px;
	height: 35px;
	// background-color: red;
}

.healthBarBack{
	width: 250px;
	background-color: rgba(255,255,255, 0.1);
	border-radius: 50%;


}

.helthBar{
	width: 50%;
	background-color: limegreen;
	border-radius: 50%;
	
}

.healthText{
	margin-left: 10px;
	margin-right: 5px;
	color: #ffff;
	text-shadow: 0 0 1px black;
	font-family: SourceSansPro;
	font-size: 18px;
	font-weight: bold;
	align-content: center;
}